.button {
  background: gold;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px 10px;
  border-radius: 25px;
  font-size: 20px;
}

.button:hover {
  background: rgb(202, 202, 202);
  color: black;
}

.button:disabled {
  background: #888;
  cursor: not-allowed;
}
