.home-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-img img {
  min-height: 400px;
  max-height: 900px;
  min-width: 400px;
  max-width: 1400px;
  border-top: 5px solid rgba(255, 217, 0, 0.445);
  border-bottom: 5px solid rgba(255, 217, 0, 0.445);
  border-radius: 30px;
  padding: 10px;
  margin-top: 10px;
}

.div-botao-duvida {
  position: fixed;
  margin-left: 20px;
  padding: 2px;
}

.botao-duvida {
  background-color: rgba(255, 217, 0, 0.911);
  border-radius: 10px;
  cursor: pointer;
}

.botao-duvida:hover {
  padding: 3px;
  transition: all 0.5s;
}
